@{ ViewData["Title"] = "Home Page"; }@model e_commerce.Models.Product
<h1>Welcome To The Products Page:</h1>
<br>
<h3>Add Product:</h3>
<br>
<div class="add-product">
    <form action="addProduct" method="post">
        <label for="name">Product Name:</label><br>
        <input asp-for="name"><br>
        <label for="quatity">Quantity:</label><br>
        <input asp-for="quantity" min="1" type="number"><br>
        <label for="description">Description:</label><br>
        <textarea asp-for="description" cols="20" rows="5"></textarea><br>
        <label for="imageurl">Image Url:</label><br>
        <input asp-for="imageurl" type="url"><br><br>
        <button type="submit">Create</button>
    </form>
</div>
<div class="products">
    @foreach(var product in @ViewBag.products){
    <div class="product">@product.name<br><img src="@product.imageurl"><br>@product.description<br>(@product.quantity left)</div>
    }
</div>